.header-navbar {
  background: #011627;
}

.nav-item {
  padding: 0 0.8rem;
}

.nav-right-icon {
  /* Rectangle 4270 */

  position: absolute;
  width: 57.08px;
  height: 30.41px;
  left: 1330.91px;
  top: 26px;

  background: #3faf04;
}
