.testimonials-main-container {
  height: 60vh;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  position: relative;
}
.testimonials-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials-data h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}
.testimonials-data p {
  font-style: normal;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  text-align: center;
}

.testimonials-slider-back-green {
  background: #3eac04;
  height: 180px;
  width: 100%;
  position: absolute;
  top: 300px;
  z-index: 0;
}

.SlideContainer {
  width: 90%;
  margin: auto;
}

.cards-container {
  display: flex;
  border-radius: 6px;
  color: #333;
  padding: 1rem;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}
.cards-container::-webkit-scrollbar {
  display: none;
}

.TestimonialCard {
  flex: 1 0 377px;
  background: #feffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.03),
    0px 33px 32px rgba(50, 44, 44, 0.05), 0px 1px 1px rgba(82, 73, 73, 0.1);
  margin: 1rem;
  /* overflow: hidden; */
  cursor: pointer;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 20px;
}

.TestimonialCard img {
  width: 70px;
  height: 70px;
  object-fit: center;
  border-radius: 50%;
}
.TestimonialCard:hover {
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(-3px);
}
.card-content {
  padding: 1rem;
  text-align: center;
}
.card-content p {
  font-weight: 600;
  font-size: 18px;
  color: #3eac04;
  letter-spacing: 0.3px;
}
.card-content span {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
@media screen and (max-width: 625px) {
  .SlideContainer {
    width: 100%;
  }

  .cards-container {
    padding: 0.5rem;
  }

  .TestimonialCard {
    margin: 0.5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
